<h2>Proyectos</h2>
<div class="header-seccion">
    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Buscar.</mat-label>
        <input type="search" matInput />
        <mat-error>
            <!-- <app-form-validators [control]="form.controls['name']"></app-form-validators> -->
        </mat-error>
    </mat-form-field>
    <button mat-icon-button (click)="openDialog()" class="my-2 ml-2" title="Nuevo proyecto">
        <mat-icon>add</mat-icon>
    </button>
</div>
<mat-accordion cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" class="example-headers-align">
    <mat-expansion-panel class="example-box" *ngFor="let item of list" cdkDrag>
        <mat-expansion-panel-header>
            <mat-panel-title>
                ID: {{item.id}} Nombre: {{item.name}}
            </mat-panel-title>
            <mat-panel-description>
                30 de agosto de 2020
                <mat-icon cdkDragHandle class="dragHandle">control_camera</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p class="text-justify">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati quo deserunt veniam
                    provident exercitationem similique perspiciatis ratione tempore officiis amet, ad dolore numquam
                    dignissimos fuga! In odio blanditiis libero magni.
                </p>
            </div>
            <div class="col-sm-12 col-md-6">
                <app-report-task></app-report-task>
            </div>
        </div>
        <mat-action-row>
            <button mat-button color="primary" [routerLink]="['/dashboard/projects/', item.id]">Abrir</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>