.sidenav-container {
  width: 100%;
  height: 91vh;
}

.sidenav-content {
  display: flex;
  height: 100%;
}

.sidenav {
  width: 15rem;
}

.user-panel {
  padding: 0.5rem;
}

.user-panel .image {
  width: 6rem;
  margin: auto;
}
