<ul #scroll class="list-panel mt-3">
    <li class="list-item-panel mr-2" *ngFor="let group of list; let i = index">
        <mat-form-field appearance="legacy" class="panel-name w-100">
            <input matInput [(ngModel)]="group.name" [disabled]="!group.edit" (focusout)="save(group)">
            <button mat-icon-button matSuffix [matMenuTriggerFor]="menu">
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
        </mat-form-field>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="group.edit = !group.edit">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
            </button>
            <button mat-menu-item (click)="delete(i)">
                <mat-icon>delete</mat-icon>
                <span>Eliminar</span>
            </button>
        </mat-menu>
    </li>
    <li class="list-item-panel mr-2">
        <button mat-raised-button class="text-left" (click)="openDialog()">
            <mat-icon>add</mat-icon>
            Crear grupo
        </button>
    </li>
</ul>