.list-panel {
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow-x: auto;
  overflow-y: hidden;
  height: 75.7vh;
  scroll-behavior: smooth;
  padding: 0;
}
.list-item-panel {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex: 0 0 18rem;
  outline: 0;
  padding: 0 0.5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-sizing: content-box;
}
.body-panel-group {
  overflow-x: hidden;
  overflow-y: auto;
}
.move-group {
  position: relative;
}

input[disabled] {
  color: #777;
}

.btn-move-group {
  cursor: move;
  z-index: 1000;
}
/* 
.header-container-box {
  cursor: move;
} */
